apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

labels:
  - pairs:
      app.kubernetes.io/name: carbide-dsx-exchange-consumer
      app.kubernetes.io/component: dsx-exchange-consumer
    includeSelectors: true
    includeTemplates: true

resources:
  - service.yaml
  - certificate.yaml
  - deployment.yaml
  - role.yaml
  - rolebinding.yaml
  - service-account.yaml
